* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 40px;

}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

$onieColor: #ffb600;
$fixedHeaderHeight: 11vh;
$websiteWidth: 1268px;
$borderBottom: 1px solid rgb(209, 209, 209);
$borderOrange: 5px solid $onieColor;
$warArticlesRed: rgb(221, 3, 3);
$marginBetweenSections: 2vh;
$sectionHeaderHeight: 4vh;
$sectionHeaderFZ: 18px;

body {
    height: 1000vh;
    width: 100%;
    position: absolute;
    font-family: 'Fira Sans', sans-serif;
}


//.................fixedHeader

.fixedHeader {
    position: fixed;
    width: 100%;
    height: $fixedHeaderHeight;
    overflow: hidden;
    background-color: white;
    border-bottom: 1px solid rgb(209, 209, 209);
    z-index: 1;
    transition: 500ms ease;

    * {
        color: black;
    }
}

.fixedHeaderWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: $websiteWidth;
    height: $fixedHeaderHeight;
    margin: 0 auto;
    overflow: hidden;
    transition: 500ms ease;
}

.logo {
    height: 100%;
    position: relative;

    img {
        position: absolute;
        top: 50%;
        height: 65%;
        transform: translateY(-50%);
        transition: 500ms ease;
    }
}

.services {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.search {
    margin-right: 10%;

    .gsc-clear-button {
        display: none;

    }
}


.items {
    font-size: 13px;
    display: flex;
    align-items: center;

    ul {
        display: flex;
        flex-direction: row;
        align-items: center;

        li {
            margin-right: 15px;

            a {
                display: flex;
                flex-direction: row;
                align-items: center;

                i {
                    margin-right: 5px;
                    font-size: 20px;
                    vertical-align: -2px;
                }



            }

            .fa-envelope {
                border: 16px solid $onieColor;
                border-radius: 50%;
                background-color: $onieColor;
                margin-right: -8px;
            }
        }
    }
}

// //.................fixedHeader on scroll

.fixedHeaderScroll {
    height: 7vh;
}

.fixedHeaderWrapScroll {
    height: 7vh;
}

.logo {
    img.imgScroll {
        height: 90%;
    }
}


.items {
    

    ul {
        li.liScroll {
            margin-left: 15px;
            a {
                p.pScroll {
                    display: none;
                }
            }

            .fa-envelope {
                border: 16px solid $onieColor;
                border-radius: 50%;
                background-color: $onieColor;
                margin-right: -8px;
            }
        }
    }
}


//...............mainNav

.mainNav {
    margin-top: $fixedHeaderHeight;
    width: 100%;
    border-bottom: $borderBottom;

    ul {
        width: $websiteWidth;
        margin: 0 auto;
        display: flex;
        flex-direction: row;

        li {
            flex-basis: content;
            border-left: $borderBottom;
            flex-grow: 1;

            &:last-of-type {
                border-right: $borderBottom;

                a {
                    font-size: 42px;
                    line-height: 22px;
                    padding-top: 0;

                }
            }

            a {
                display: block;
                padding: 14px 20px;
                font-size: 14px;
                font-weight: 700;
                color: black;
            }




        }
    }
}


//.................weather



.weatherWidgets {
    display: flex;
    flex-direction: row;
    margin: $marginBetweenSections auto 0;
    width: $websiteWidth;
    border: $borderBottom;
    padding: 20px;
}

.weather {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 50px;

    .air {
        margin: 0 40px;
    }
}

.widgetShortcuts {
    display: flex;
    flex-direction: row;

    div {
        height: 100%;
        margin: 0 20px;

        img {
            height: 100%;
        }
    }
}

// ....................war




.warHeader {
    position: relative;
    height: $sectionHeaderHeight;
    margin-bottom: 1vh;
    overflow: hidden;

    .daysCount {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        display: flex;
        flex-direction: row;

        #dot {
            height: 3vh;
            width: 3vh;
            background-color: $warArticlesRed;
            border-radius: 50%;
        }

        p {
            font-size: $sectionHeaderFZ;
            margin-left: -20px;
            line-height: 3vh;
            font-weight: bold;

            span {
                color: white;
            }
        }

    }



    .changingNews {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: absolute;
        transform: translateY(-125%);
        top: 50%;
        right: 0;
        font-size: 12px;
        font-weight: bold;
        line-height: 4vh;
        white-space: nowrap;
        max-width: 50%;
        animation: changingNews 10s infinite linear;

    }


    @keyframes changingNews {

        0% {
            transform: translateY(-125%);
        }

        5% {
            transform: translateY(-50%);
        }

        28% {
            transform: translateY(-50%);
        }

        33% {
            transform: translateY(25%);
        }

        100% {
            transform: translateY(25%);
        }

    }

    .news2 {
        animation-delay: 3.33s;
    }

    .news3 {
        animation-delay: 6.66s;
    }

    .blinkingDot {
        height: 12px;
        width: 12px;
        background-color: $warArticlesRed;
        border-radius: 50%;
        animation: blinkingDot infinite 1800ms;
        line-height: 4vh;
        margin-right: 10px;

        @keyframes blinkingDot {
            0% {
                transform: scale(10%, 10%);
                opacity: 100%;
            }

            70% {
                transform: scale(100%, 100%);
                opacity: 100%;
            }

            100% {
                transform: scale(100%, 100%);
                opacity: 0;
            }
        }
    }



}

.gridLayout {
    width: $websiteWidth;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;

}

.war {
    width: $websiteWidth;
    margin: $marginBetweenSections auto 0;
}

.redArticles {

    background-color: $warArticlesRed;
    padding: 10px;
    min-height: 70vh;
}

.redItem1 {
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: black;
    // height: 10vh;
}

.bigArticle {
    height: 100%;
}


.bigArticlePhoto {
    height: 80%;
    color: white;
    position: relative;
    background-image: url(./img/ukr.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.title {
    position: absolute;
    bottom: 10%;
    font-size: 24px;
    padding-left: 20px;
    border-left: 5px solid $onieColor;
    font-weight: 900;

}




.bigArticleMenu {
    height: 20%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 14px;
    font-weight: 700;




    a {
        height: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        color: black;
    }

    a:hover {
        box-shadow: inset 0px -30px 0px -25px $onieColor;
    }
}



.smallArticle {
    height: 100%;
    // width: 100%;

    p {
        margin-top: 10px;
        color: white;
        font-size: 18px;
        font-weight: bold;
    }
}

.smallArticlePhoto {
    position: relative;
    height: 70%;
    background-image: url(./img/ukr.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.yellowBox {
    background-color: $onieColor;
    color: black;
    font-size: 12px;
    font-weight: 700;
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 4px;
}

// ........................main

// gridLayout2 settings

.gridLayout2 {
    margin-top: $marginBetweenSections;
    width: $websiteWidth;
    margin: 2vh auto 0;
    display: grid;
    grid-template-areas:
        'header header header newsHeader'
        'item1 item2 item3 sideArticles'
        'header2 header2 header2 sideArticles'
        'bigArticle bigArticle . sideArticles';

    grid-template-rows: $sectionHeaderHeight auto $sectionHeaderHeight auto;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;


    .rewolucjaWPodatkach {
        grid-area: header;
    }

    .wiadomosci {
        grid-area: newsHeader;
    }

    .item1 {
        grid-area: item1;
    }

    .item2 {
        grid-area: item2;
    }

    .item3 {
        grid-area: item3;
    }

    .sideArticles {
        grid-area: sideArticles;
    }

    .wybraneDlaCiebie {
        grid-area: header2;
    }

    .bigArticle {
        grid-area: bigArticle;
    }



}

// gridLayout2 style settings

.gridLayout2 {

    .smallArticle {
        p {
            color: black;
        }
    }

    .smallArticlePhoto {
        height: 20vh;
    }

    .bigArticlePhoto {
        height: 30vh;
        color: white;
    }

    .header {
        height: $sectionHeaderHeight;
        display: flex;
        border-bottom: $borderBottom;
    }
}

// main elements style settings

.headerP {
    font-size: $sectionHeaderFZ;
    font-weight: bold;
    line-height: calc(0.8 * #{$sectionHeaderHeight});
    margin-left: calc(-0.5 * #{$sectionHeaderHeight});

}

.yellowDot {
    height: calc(0.8 * #{$sectionHeaderHeight});
    width: calc(0.8 * #{$sectionHeaderHeight});
    border-radius: 50%;
    background-color: $onieColor;
}

.sideArticles {

    font-size: 14px;


    .item1 a {
        display: flex;
        margin: 10px 5px;

        img {
            width: 30%;
            margin-right: 10px;
        }

    }

    .item2 {

        .yellowBox {
            position: static;
            margin-right: 10px;
        }

        a {
            display: flex;
            align-items: center;
        }
    }

    li {
        border-top: $borderBottom;
    }

    a {
        display: inline-block;
        margin: 5px;
        color: rgb(83, 83, 83);
    }
}